# Compiled class files
*.class

# Log files
*.log

# IDE specific files
.idea/
*.iml

# Operating system specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Build directories
/bin/
/out/
/target/

# Temporary files
*.tmp
*.bak 
